<div class="container">
    <div class="d-flex align-items-center justify-content-center vh-100">
        <div class="card w-50 py-4 bg-body-tertiary rounded">
            <div class="w-100 text-white"> 
                <form>
                    <h1 class="h3 mb-3 fw-normal text-center">
                        Create an account
                    </h1>
                    <div class="form-floating"> 
                        <input type="email" class="form-control"  placeholder="your E-mail">
                        <label for="floatingInput">E-mail</label>            
                    </div>
                    <div class="form-floating"> 
                        <input type="password" class="form-control"  placeholder="your Password">
                        <label for="floatingInput">Password</label>            
                    </div>
                    <div class="justify-content-end">
                        <a href="">
                            <p> Don't have an account?</p>
                        </a>
                    </div>
                    <button class="w-100 btn btn-primary btn-dark color btn-lg"  type="submit">Create</button>
                </form>
            </div>
        </div>
    </div>
</div>
