<div class="container">
    <div class="d-flex align-items-center justify-content-center vh-100">
        <div class="card w-50 py-4 bg-body-tertiary rounded">
            <div class="w-100 p-4 text-white"> 
                <form>
                    <h1 class="h3 mb-3  fw-normal text-center">
                        Create an account
                    </h1>
                    <div class="form-floating py-1"> 
                        <input type="text" class="form-control"  placeholder="Name">
                        <label for="floatingInput">Name</label>            
                    </div>
                    <div class="form-floating py-1"> 
                        <input type="email" class="form-control"  placeholder="E-mail">
                        <label for="floatingInput">E-mail</label>            
                    </div>
                    <div class="form-floating py-1"> 
                        <input type="password" class="form-control"  placeholder="Password">
                        <label for="floatingInput">Password</label>            
                    </div>
                    <div class="form-floating py-1"> 
                        <input type="password" class="form-control"  placeholder="Repeat Password">
                        <label for="floatingInput">Repeat Password</label>            
                    </div>
                    <div>
                        <p>Already have an account?
                            <a href="/login">
                             Sign in
                            </a>
                        </p>    
                    </div>
                    <button class="w-100 btn btn-primary btn-dark color btn-lg" type="submit">Create Account</button>
                </form>
            </div>
        </div>
    </div>
</div>
